{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

<homebody>
  <input type="radio" name="position" checked />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <main id="carousel">
    <div class="item">
      <h2>Lorem Ipsum</h2>
    </div>
    <div class="item">
      <h2>Lorem Ipsum</h2>
    </div>
    <div class="item">
      <h2>Lorem Ipsum</h2>
    </div>
    <div class="item"></div>
    <div class="item"></div>
    <main>
</homebody>

{% endblock %}
